<b>PGN Editor</b>
<br><br>

<div class="pgnEditor">
    <div class="editor"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<script type="module">
    import Editor from '../module/pgn/editor.js'

    let ed = new Editor(document.querySelector('.editor'));

    window.addEventListener('boardupdate', function(e) {
        ed.clear();
        ed.draw();
    });
</script>