<b>PGN Editor</b>
<br><br>

<div class="pgnEditor">
    <p class="editor" contenteditable></p>
    <br>
    <br>
    <br>
</div>

<script type="module">
    import Editor from '../module/pgn/editor.js'

    let elem = document.querySelector('.editor')
    let ed = new Editor(elem);

    // save edits when focus is out
    elem.addEventListener('focusout', e =>
    {
        window.chess.loadPgn(elem.textContent);
        window.dispatchEvent(new Event('boardupdate'))
    });

    window.addEventListener('boardupdate', function(e) {
        ed.clear();
        ed.draw();
    });
</script>