<b>PGN Editor</b>
<br><br>

<div class="pgnEditor">
    <div class="editor"></div>
</div>

<script type="module">
    import Editor from '../module/pgn/editor.js'

    let ed = new Editor(document.querySelector('.editor'));
    ed.draw();

    window.addEventListener('pgn', function(e) {
        ed.clear();
        ed.draw();
    });
</script>