.pgnEditor
{
    height: 100%;
    text-wrap: wrap;
}

.editor
{
    height: 100%;
    width: 100%;
    white-space: pre-wrap;
}

.ply
{
    border: 1px solid grey;
    width: 40%;
    padding: 10px;
    display: inline-block;
}

.ply:hover
{
    background-color: rgba(127, 255, 212, 0.2);
}

.move
{
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}