<div class="header">
    <img src="img/wR.svg" width="25px">
</div>

<!-- Global JS Values -->
<script type="module">
    import { Chess }    from '../node_modules/chess.js/dist/esm/chess.js'
    import MoveTreeNode from './src/MoveTree.js';

    // the tree containing variations for the current game
    window.moveTree = new MoveTreeNode(
        null,
        'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1',
        null,
        []
    );

    // the node currently on the board
    window.position = window.moveTree;


    // update content when ready
    window.addEventListener('DOMContentLoaded', () => 
        window.dispatchEvent(new Event('boardupdate'))
    );
</script>