@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #e7e5e4;
}

body
{
    background-color: rgba(12, 10, 9, 0.8);
}

.header
{
    padding: 10px;
    background: rgba(23, 23, 23, 0.8);
    -webkit-app-region: drag;   
}

.row {
    display: flex;
}

.col {
    flex: 50%;
    padding: 25px;
}

.cmdbar
{
    position: absolute;
    bottom: 5px;
    left: 10%;
    width: 80%;
    text-align: center;

    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;

    font-style: italic;
    z-index: 10;
}

.cmdbar_type
{
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 15px;
    white-space: pre;
}