<!DOCTYPE html>

<html>
    <head>
        <title>Open Base</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="../module/board/board.css">
        <link rel="stylesheet" href="../module/pgn/pgn.css">

    </head>

    <body>
        <%- include('header.ejs') -%>

        <main>
            <div class="row">
                <div class="col">
                    <%- include('../module/board/board.ejs') -%>
                </div>
                <div class="col">
                    <%- include('../module/pgn/pgn.ejs') -%>
                </div>
            </div>
        </main>
    </body>
</html>