.pgnEditor
{
    height: 100%;
    text-wrap: wrap;
}

.editor
{
    height: 100%;
    width: 100%;
    white-space: pre-wrap;
    padding: 10px;
    padding-bottom: 300px;
}

.tagText
{
    color: #166534;
}

.moveText
{
    color: #166534;
    display: block;
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}