<div class="gameInfo">
    <p class="gameTitle">Game Title</p>
    <br>
    <p class="players">White - Black</p>
    <p class="location">Location, Year</p>
    <p class="ecoCode">A0 Eco Code</p>
    <br>
</div>
<div class="board"></div>

<script type="module">
    import Board     from '../module/board/board.js';
    
    // board in window
    const b = new Board(document.querySelector('.board'));
    window.board = b;
    
    // board update event
    function boardupdate()
    {
        b.clear();
        b.draw();
        b.setFEN(window.chess.fen());
    }
    window.addEventListener('boardupdate', boardupdate);
</script>