<div class="gameInfo">
    <p class="gameTitle">Game Title</p>
    <br>
    <p class="players">White - Black</p>
    <p class="location">Location, Year</p>
    <p class="ecoCode">A00</p>
    <br>
</div>
<div class="board"></div>

<!-- for hovering pieces when grabbed -->
<img src="" class="pieceGrab" width="64" height="64">

<script type="module">
    import Board        from '../module/board/board.js';
    
    // board in window
    const b = new Board(document.querySelector('.board'));
    window.board = b;
    
    // board update event
    function boardupdate()
    {
        b.clear();
        b.draw();
        b.setFEN(window.position.fen);

        // TODO reinclude
        // let headers = window.moveTree.header();
        // 
        // document.querySelector('.gameTitle').innerHTML = headers.Event || 'Game Title';
        // document.querySelector('.players').innerHTML   = (headers.White || 'White') + ' - ' + (headers.Black || 'Black');
        // document.querySelector('.location').innerHTML  = headers.Location || 'Location';
        // document.querySelector('.ecoCode').innerHTML   = headers.ECO || 'A00';
    }
    window.addEventListener('boardupdate', boardupdate);
    document.querySelector('main').onmousemove = e =>
    {
        let hover = document.querySelector('.pieceGrab')    
        hover.style.left = e.clientX + 2 +   'px';
        hover.style.top  = e.clientY + 2 +   'px';
    };
</script>